a {
  text-decoration: none;
  color: white;
}

input::placeholder {
  color: white;
}

.background-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 710px;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/src/assets/background.jpg);
}

.home {
  height: 625px;
}
.seperation {
  background-color: #181818;
  height: 10px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90vw;
  margin: auto;
  height: 85px;
  /* padding: 20px 18px 20px 18px; */
  width: auto;
}

.logo a img {
  height: 80px;
  width: 250px;
}

.nav-right {
  display: flex;
  width: auto;
  gap: 10px;
}
.language {
  border-radius: 4px;
  border: 1px solid #888;
  padding: 2px 3px;
  /* width: 100px; */
}

.language select {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: fit-content;
  outline: none;
}

.nav-right .signin {
  white-space: nowrap;
  width: auto;
  border-radius: 4px;
  background-color: red;
  padding: 4px 12px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  border: none;
}

.signin a {
  color: white;
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  text-align: center;
  color: white;
}

.home .child1 {
  font-size: 48px;
  font-weight: 900;
}

.home .child2 {
  font-size: 25px;
  font-weight: normal;
}

.home .child3 {
  font-size: 20px;
  font-weight: normal;
}

.wrapper-input {
  width: 65%;
}

.wrapper-input .input-data {
  height: 53px;

  position: relative;
}
.wrapper-input .input-data input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px 16px 16px 16px;
  color: white;
  width: 100%;
  border-radius: 4px;


}

.input-data input:invalid  {
  border: 1px solid #b92d2b;
}
.input-data input:focus ~ label {
  transform: translateY(-20px);
  font-size: 13px;
}
.input-data  input:not(:placeholder-shown) ~ label {
  transform: translateY(-20px);
  font-size: 13px;
}
.wrapper-input .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
  text-align: left;
  padding-left: 16px;
}

.getStartedbtn {
  display: flex ;
  justify-content: center ;
  align-items: center;
  background-color: red;
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  /* padding: 8px 24px; */
  height: 53px;
  outline: none;
  border: none;
  white-space: nowrap;
}
.getStartedbtn img {
  height: 20px;
  width: auto;
}


.loader{
  width: 30px;
  height: 30px;
  pointer-events: none;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: loader 1s ease infinite;
}

@keyframes loader {
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
  
}

.section1,
.section2,
.section3,
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 95vw;
  margin: auto;
}

.secText {
  justify-content: center;
}

.secText :nth-child(1) {
  font-size: 48px;
  font-weight: 900;
}

.secText :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
}

.secVideo {
  position: relative;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secVideo .img1 {
  width: 400px;
}

.secVideo .video1 {
  position: absolute;
  width: 330px;
}

.secVideo img {
  width: 500px;
  position: absolute;
  z-index: 10;
}

.secVideo video {
  position: absolute;
  width: 400px;
}

.section1 .secVideo img {
  width: 400px;
}
.section1 .secVideo video {
  width: 300px;
}

.sec2Video img {
  height: 80%;
  width: 80%;
}

.section3 .secVideo video {
  position: absolute;
  width: 300px;
  top: 100px;
}

.gif-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 1px solid #fff;
  border-radius: 12px;
  width: fit-content;
  margin-top: -80px;
  z-index: 10;
  height: 65px;
}

.gif-box img {
  height: 72px;
  width: auto;
  padding: 3px;
}

.gif-box :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 5px 50px 5px 10px;
}

.gif-text :nth-child(1) {
  font-size: 16px;
  font-weight: 500;
}

.gif-text :nth-child(2) {
  color: blue;
}

.gif-box :nth-child(3) {
  background: url(/src/assets/download-icon.gif) center center / cover no-repeat;
  height: 48px;
  width: 48px;
}

.input-wrapper2 p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.fax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fax h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20px;
}

.faxQues {
  width: 90%;
  margin-top: 5px;
}

.faxQues .faxbtn:hover {
  background-color: #5e5d5d;
}

.faxQues .faxbtn {
  background-color: inherit;
  outline: none;
  border: none;
  color: white;
  padding: 20px;
  background-color: #363636;
  font-size: 24px;
  transition: 0.3s;
}

.faxQues .faxbtn i {
  font-size: 40px;
  font-weight: lighter;
}
.ans {
  background-color: #363636;
  padding: 20px;
  font-size: 24px;
  margin-top: 1px;
  display: none;
  transition: 0.3s;
}

.footer-section p {
  color: rgba(255, 255, 255, 0.7);
}
.footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer-item {
  flex: 25%;
}
.footer-item a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

@media screen and (min-width: 1000px) {
  .section2 {
    margin: 30px 0;
  }
  .gif-box {
    height: 80px;
  }
  .sec2Video img {
    height: 60%;
    width: 60%;
  }
  .section1,
  .section2,
  .section3,
  .section4 {
    width: 80vw;
  }

  .wrapper-input {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  .logo a img {
    height: 40px;
    width: 150px;
  }
  .getStartedbtn {
    font-size: 18px;
  }

  .section1,
  .section2,
  .section3,
  .section4 {
    flex-direction: column;
  }

  .secText {
    text-align: center;
  }

  .secText :nth-child(1) {
    font-size: 32px;
    font-weight: 700;
  }

  .secText :nth-child(2) {
    font-size: 18px;
    font-weight: 400;
  }
  .secVideo {
    height: 400px;
  }

  .secVideo img,
  .section1 .secVideo img {
    width: 60vw;
  }

  .secVideo video,
  .section1 .secVideo video {
    width: 60vw;
  }

  .section3 .secVideo video {
    width: 35vw;
    top: 20%;
    overflow: hidden;
  }

  .fax h2 {
    font-size: 32px;
    font-weight: 700;
  }
  .faxQues .faxbtn i {
    font-size: 20px;
  }
  .footer-item {
    flex: 50%;
  }
}

@media screen and (max-width: 700px) {
  .getStartedbtn {
    font-size: 12px;
  }
  .getStartedbtn img {
    height: 10px;
    width: auto;
  }
  .home .child1 {
    font-size: 32px;
    font-weight: 900;
  }

  .home .child2 {
    font-size: 20px;
    font-weight: normal;
  }

  .home .child3 {
    font-size: 15px;
    font-weight: normal;
  }

  .secVideo {
    height: 300px;
  }
  .gif-box :nth-child(2) {
    padding: 2px;
  }
  .input-wrapper2 p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 4px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper-input {
    flex-direction: column;
    gap: 8px;
    width: 90vw;
  }

  .getStartedbtn {
    height: 30px;
    padding: 2px 8px;
    margin-top: 14px;
    width: fit-content;
  }
  .gif-text :nth-child(1) {
    font-size: 14px;
  }
  .gif-box {
    overflow: hidden;
    margin-top: -50px;
  }
  .gif-box img {
    height: 40px;
  }
  .fax h2 {
    font-size: 24px;
    font-weight: 700;
  }
}

@media screen and (max-width: 500px) {
  .section3 .secVideo video {
    width: 35vw;
    top: 35%;
    overflow: hidden;
  }

  .faxQues .faxbtn,
  .faxQues .ans {
    font-size: 15px;
  }
}

@media screen and (max-width: 310px) {
  .Navbar {
    flex-direction: column;
    justify-content: center;
  }
  .nav-right {
    display: flex;
    width: fit-content;
    gap: 10px;
    align-self: flex-start;
    margin-top: 8px;
  }
}
