.signin a {
  color: #333;
}
.header {
  border-bottom: 1px solid #e6e6e6;
}
.logo {
  padding-left: 3%;
}

.logo a img {
  height: 45px;
  vertical-align: middle;
  width: 167px;
}

.wrapper-input2 {
  width: 65%;
}

.wrapper-input2 .input-data {
  height: 53px;
  position: relative;
}
.wrapper-input2 .input-data input {
  height: 100%;
  font-size: 17px;
  padding: 30px 16px 10px 16px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  color: #333;
  /* border: 1px solid #b92d2b;  */
  border: 1px solid black;
  outline: none;
}




.wrapper-input2 .input-data label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #333;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
  text-align: left;
  padding-left: 16px;
}
.footer-section2{
  background-color: #f3f3f3;
}


.footer-section2 p {
  color: #737373;
}
.footer2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer2 .footer-item {
  flex: 25%;
}
.footer2 .footer-item a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  /* margin-top: 12px; */
}
.footer2 .footer-item a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
 .footer2 .footer-item {
    flex: 50%;
  }
}
