.plan {
  max-width: 300px;
  text-align: center;
  margin: 100px 0;
}
.plan div {
  /* display: flex; */
}

li {
  font-size: 18px;
  text-align: start;
  margin: 8px 0;
}
.plan h2 {
  font-size: 32px;
}

.icons {
  height: 26px;
  width: auto;
  white-space: nowrap;
  fill: #737373;
}
.planlist-table :nth-child(5) td {
  font-size: 12px;
  vertical-align: top;
}

.planlist-table tr td {
  border-bottom: 1px solid #737373;
  padding: 20px 0;
}
.planlist-table tbody tr th {
  height: 120px;
  position: sticky;
  top: 0;
  color: white;
  background-color: #f8f9fa;
  text-align: center;
}
.planlist-table thead tr th button {
  background-color: #e50914;
  text-decoration: none;
  outline: none;
  border: none;
  height: 120px;
  margin: 0 auto;
  width: 120px;
  opacity: 0.6;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.width {
  width: 400px;
}

@media screen and (max-width: 900px) {
  .planlist-table tr th button {
    height: 70px;
    width: 70px;
    font-size: 10px;
    font-weight: 600;
  }
  .width {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .planlist-table tr th button {
    height: 40px;
    width: 40px;
    font-size: 10px;
    font-weight: 600;
  }
  .width {
    width: 100px;
  }
  .payment-card div{
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .planlist-table {
    font-size: 10px;
    overflow: scroll;
  }
  .planlist-table tr th button {
    margin: 0 1px;
  }
  .planlist-table :nth-child(5) td {
    font-size: 5px;
  }
  .icons {
    width: 10px;
    height: auto;
  }
  .planlist-table tr{
    width: 30px;
  }
}
