.signup-box-img {
  background: url(../assets/Devices.png) no-repeat 50% 50%;
  background-size: 260px;
  height: 90px;
}
.signup-box-text {
  max-width: 380px;
}

@media screen and (max-width: 600px) {
  .signup-box-text {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
    text-align: start;
  }
}
