/* signinpage */

.signin-main {
  background: url(/src/assets/home.jpg) 0% 0% / cover no-repeat black;
  width: 100%;
  height: fit-content;

  /* box-shadow: "inset 0 0 300px 100px black", */
}
.header-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}
.signin-card span:empty{
 display: none;
}

.signin-card {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  margin-bottom: 100px;
  padding: 60px;
}
.signin-main div a img {
  height: 60px;
  vertical-align: middle;
  width: 200px;
}
.signin {
  font-size: 20px;
  font-weight: 700;
}
.wrapper-input .input-data input {
  font-size: 16px;
}
.footer-section3 {
  background-color: rgba(0, 0, 0, 0.75);
}

.footer-section3 p {
  color: #737373;
}
.footer3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer3 .footer-item {
  flex: 25%;
}
.footer3 .footer-item a {
  text-decoration: none;
  color: #737373;
  font-size: 13px;
  /* margin-top: 12px; */
}
@media screen and (max-width: 700px) {
  .wrapper-input .input-data input {
    font-size: 14px;
  }
  .signin-main {
    background: black;
    width: 100%;
    height: fit-content;

    /* box-shadow: "inset 0 0 300px 100px black", */
  }
  .header {
    height: 45px;
    padding-left: 10px;
  }
  .signin-card {
    width: 100%;
    padding: 15px;
  }
  .signin-main div a img {
    width: 150px;
    height: 50px;
  }
  .signin {
    font-size: 14px;
    font-weight: 700;
  }
  .footer3 .footer-item {
    flex: 50%;
  }
}
