* {
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  height: fit-content;
  display: flex;
  text-align: start;
  justify-content: flex-start;
  background-color: black;
}


#animation1, #animation2,#animation3, #animation4, #animation5{
  text-align: center;
  position: relative;
  animation-name: slider;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes slider {
  from{
    right: -300px;
  }to{
    right:0px;
  }
  
}